.ActivityButton {
  font-family: "Open Sans";
  font-size: 14px;
  padding: var(--s) var(--m);
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
}

.ActivityButton:hover {
  color: var(--white);
  background-color: var(--primary);
}

.ActivityButton.red {
    background-color: red;
}
  
.ActivityCreateButton {
  background-color: var(--thupurple);
  color: #fff;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.ActivityDialogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  .ActivityDialogue form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  
  .ActivityDialogue form input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .ActivityDialogue form button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--thupurple);
    color: #fff;
    cursor: pointer;
  }

  .ActivityAdmitDialogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 300px;
    background-color: #fff;
    margin: 20px;
    padding: 10px;
  }

  .ActivityAdmitDialogue button {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--thupurple);
    color: #fff;
    cursor: pointer;
    width: 100%;
  }

  .ActivityAdmitDialogue button :hover {
    background-color: var(--thupurple);
  }

  .ActivityAdmitSubmitButton {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--thupurple);
    color: #fff;
    cursor: pointer;
    width: 100%;
  }

  .ActivitySeeRemarkButtonDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5px;
  }

  .ActivitySeeRemarkButtonDialog h3 {
    text-align: center;
    margin: 10px;
  }

  .ActivitySeeRemarkButtonDialog label {
    text-align: center;
    margin: 6px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .ActivityManagerSetButton {
    background-color: var(--thupurple);
    color: #fff;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
  }