.Activity-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  margin-top: var(--m);
}

.Activity-held-time {
  font-size: 25px;
  margin: var(--m) var(--m) 0 var(--m);
}

.Activity-held-time-color1 {
  color: blue;
}

.Activity-held-time-color2 {
  color: #00ff00;
}

.Activity-held-time-color3 {
  color: var(--thupurple);
}

.Activity-held-time-color4 {
  color: red;
}

.Activity-Content {
  font-size: 50px;
  margin: var(--xs) 0 var(--m) var(--m);
  color: black;
}

.Activity-infoSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
  border-bottom: 1px solid var(--darkgrey);
}

.Activity-infoBody {
  margin: var(--m) var(--m) var(--m) var(--m);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
