.ActivityRegisterButton {
    display: flex;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 10px;
    align-items: center;
 
    text-decoration: none;
    color: #ffffff;
    background-color: green;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: var(--xs) var(--m) var(--xs) var(--m);
    height: 10px;
    width: 100px;
}

.ActivityRegisterButton.red {
    background-color: red;
}
