.Activity-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  margin-top: var(--m);
}

.Activity-container:first-of-type {
  margin-top: var(--l);
}

.Activity-story,
.Activity-commentSection {
  padding: var(--m) var(--l);
}

.Activity-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.Activity-held-time {
  font-size: 25px;
  margin: var(--m) var(--m) 0 var(--m);
  color: blue;
}

.Activity-Content {
  font-size: 50px;
  margin: var(--xs) 0 var(--m) var(--m);
  color: black;
}

.Activity-infoSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
  border-bottom: 1px solid var(--darkgrey);
}

.Activity-infoBody {
  margin: var(--m) var(--m) var(--m) var(--m);
}
