.UserButton {
  font-family: "Open Sans";
  padding: var(--s) var(--m);
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
  height: 40px;
  width: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.UserButton:hover {
  color: var(--white);
  background-color: var(--primary);
}

.UserDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  width: 500px;
}

.UserDialog p {
  margin-left: 20%;
  margin-right: 20%;
  color: var(--thupurple);
  text-align: center;
}

.UserDialog form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.UserDialog form input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.UserDialog form button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--thupurple);
  color: #fff;
  cursor: pointer;
}
